<div
  class="container cart-container"
  *ngIf="cartData.length > 0; else NoItemAdded"
>
  <div>
    <div>
        <h1>Shopping Cart</h1>
    </div>
  </div>
  <div>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 cart-table"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let item">
            {{ item.name }}
        </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let item">
            {{ item.price | currency: 'INR' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let item">
            <div class="quantity-container">
              <button
                mat-icon-button
                color="primary"
                (click)="decrementQuantity(item)"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <span>{{ item.quantity }}</span>
              <button
                mat-icon-button
                color="primary"
                (click)="incrementQuantity(item)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef>Subtotal</th>
          <td mat-cell *matCellDef="let item">
            {{ item.price * item.quantity | currency: 'INR' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let item">
            <mat-icon class="icon" (click)="deleteFromCart(item)">
              delete
            </mat-icon>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['name', 'price', 'quantity', 'subtotal', 'action']"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['name', 'price', 'quantity', 'subtotal', 'action']
          "
        ></tr>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 offset-md-6 text-right">
      <p>
        <strong>Total:</strong>
        {{ totalAmount | currency: 'INR' }}
      </p>
    </div>
  </div>
</div>
<ng-template #NoItemAdded>
  <div class="no-data-found-container">
    <img src="/assets/images/no-item-found.svg" alt="No data found" />
    <p>No item found in the cart.</p>
    <button mat-raised-button color="primary" routerLink="/product">
      Continue Shopping
    </button>
  </div>
</ng-template>
